@font-face {
  font-family: PirataOne;
  src: url(assets/PirataOne-Regular.ttf);
}

@font-face {
  font-family: Nyala;
  src: url(assets/nyala.ttf);
}

@font-face {
  font-family: HighTower;
  src: url(assets/HTOWERT.TTF);
}

.material-icons.md-light {
  color: white;
}

body, #root {
  margin: 0;
  height: 100vh;
}

img {
  display: block;
}

#card-container {
  display: flex;
  flex: 1;
  align-self: center;
}

.card {
  position: relative;
  width: 413px;
  height: 563px;
  margin: auto;
  flex: 1;
}

.card .center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.card .runes {
  mix-blend-mode: screen;
}

.card .color {
  bottom: 0;
  mix-blend-mode: color;
}

.summon-toggle {
  position: absolute;
  left: -78px;
  height: 68px;
  width: auto;
}

.summon-toggle.top {
  top: 97px;
}

.summon-toggle.bottom {
  top: 337px;
}

.summon-toggle.disabled {
  filter: grayscale();
}

.actions {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.actions .single-line {
  position: absolute;
  text-align: center;
}

.actions > .title {
  top: 20px;
  font-family: PirataOne;
  font-size: 22pt;
}

.actions > .level {
  top: 66px;
  width: 20px;
  font-family: PirataOne;
  font-size: 14pt;
  color: black;
}

.actions > .initiative {
  top: 272px;
  width: 60px;
  font-family: PirataOne;
  font-size: 34pt;
}

.actions .summon.top {
  top: 85px;
}

.actions .summon.bottom {
  top: 325px;
}

.actions .summon > img {
  position: relative;
  left: 45px
}

.actions .summon {
  font-family: Nyala;
  font-size: 14pt;
}

.actions .summon .action {
  font-size: 18pt;
}

.actions .summon.name {
  position: absolute;
  top: 14px;
  left: 95px;
  width: calc(100% - 145px);

  font-size: 17pt;
  font-weight: bold;
  text-align: center;
}

.actions .summon.box1 {
  position: absolute;
  top: 45px;
  left: 115px;
}

.actions .summon.box2 {
  position: absolute;
  top: 80px;
  left: 115px;
}

.actions .summon.box3 {
  position: absolute;
  top: 45px;
  left: 190px;
}

.actions .summon.box4 {
  position: absolute;
  top: 80px;
  left: 190px;
}

.actions .summon.box5 {
  position: absolute;
  top: 45px;
  left: 300px;
}

.actions [data-slate-object=block] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-editor {
  pointer-events: all;
  position: absolute;
  padding: 2px;
  width: fit-content;
}
.action-editor.move {
  cursor: move;
}

.action-main {
  font-family: Nyala;
  padding: 0 2px;
}

.action-main.left {
  justify-content: flex-start;
}

.action-main.right {
  justify-content: flex-end;
}

.action-main.center {
  justify-content: center;
}

.action {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action img {
  height: 1.1em;
  width: auto;
  padding: 0 2px;
}

.action.icon-persistent img,
.action.icon-round img,
.action.icon-card-lost img,
.action.icon-card-recover img,
.action.icon-card-unrecoverable img {
  height: 2.0em;
}

.action > div {
  display: inline-block;
  text-align: center;
}

.action.element img {
  height: 1.3em;
  width: auto;
}

.action.element > div {
  position: relative;
  cursor: pointer; 
}

.action.element img.consume {
  position: absolute;
  top: 0;
  left: 0;
}

.action.xp {
  font-family: PirataOne;
}

.action.xp.big {
  font-size: 100%;
}

.action.xp.small {
  font-size: 66%;
}

.action.xp span {
  position: absolute;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.action.circle {
  font-family: PirataOne;
}

.action.xp img {
  height: 2.0em;
}

.action.circle span {
  padding-right: 11%;
  position: absolute;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.action.circle img {
  height: 3.0em;
  width: auto;
}

[draggable=true] {
  cursor: move;
}
.divider {
  position: relative;
  min-width: 1px;
  max-width: 1px;
  background-color: white;
  display: inline-block;
  margin: 0.25% 4px;
  align-self: stretch;
}
.divider:last-child {
  display: none;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  margin-bottom: 10px;
  background: grey;
}

.toolbar {
  position: relative;
  padding: 10px 0;
  overflow-y: overlay;
  min-height: fit-content;

  background: grey;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar.main {
  min-width: fit-content;
}

.toolbar .click {
  cursor: pointer;
}

.toolbar > div {
  min-width: 30px;
  min-height: 30px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toolbar > div > img {
  width: 100%;
  height: 100%;
}

.toolbar > div > input {
   width: 25px;
   height: 25px;
}

.inline-action.focused {
  outline: 2px solid blue;
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
}

.hover-menu > div {
  position: relative;
  display: flex;
  align-items: center;
}

.hover-menu .consume {
  font-size: 16px;
  height: 1em;
  width: auto;
}

.hover-menu .xp-value {
  color: white;
  padding: 0 4px;
  text-align: center;
  min-width: 2ems;
}

.hover-menu .icon {
  display: flex;
  font-size: 18px;
  vertical-align: text-bottom;
}

.hover-menu .button {
  cursor: pointer;
  color: #ccc;
}

.hover-menu .button.active {
  color: black;
}

.hover-menu .button.reversed {
  color: #aaa;
}

.hover-menu .button.active.reversed {
  color: white;
}

.hover-menu .font-size {
  color: white;
  padding: 0 4px;
  text-align: center;
  min-width: 2ems;
}

.hexgrid {
  position: absolute;
}

.hexgrid.move {
  cursor: move;
}

.hexgrid.edit {
  cursor: pointer;
}

[data-slate-object=text] {
  min-width: 1px;
}

@media print {
  .toolbar, .summon-toggle {
      display:none;
  }
}