@font-face {
  font-family: PirataOne;
  src: url(assets/PirataOne-Regular.ttf);
}

@font-face {
  font-family: Nyala;
  src: url(assets/nyala.ttf);
}

@font-face {
  font-family: HighTower;
  src: url(assets/HTOWERT.TTF);
}

.material-icons.md-light {
  color: white;
}

body, #root {
  margin: 0;
  height: 100vh;
}

img {
  display: block;
}

#card-container {
  display: flex;
  flex: 1;
  align-self: center;
}

.card {
  position: relative;
  width: 413px;
  height: 563px;
  margin: auto;
  flex: 1;
}

.card .center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.card .runes {
  mix-blend-mode: screen;
}

.card .color {
  bottom: 0;
  mix-blend-mode: color;
}

#card-container .summon-toggle {
  position: absolute;
  left: -78px;
  height: 68px;
  width: auto;
}

#card-container .summon-toggle.top {
  top: 97px;
}

#card-container .summon-toggle.bottom {
  top: 337px;
}

.actions {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.actions .single-line {
  position: absolute;
  text-align: center;
}

.actions > .title {
  top: 20px;
  font-family: PirataOne;
  font-size: 24pt;
}

.actions > .level {
  top: 66px;
  width: 20px;
  font-family: PirataOne;
  font-size: 14pt;
  color: black;
}

.actions > .initiative {
  top: 272px;
  width: 60px;
  font-family: PirataOne;
  font-size: 34pt;
}

.actions .summon-top {
  top: 85px;
}

.actions .summon-bottom {
  top: 325px;
}

.actions .summon {
  font-family: Nyala;
  font-size: 14pt;
}

.actions .summon .action {
  font-size: 18pt;
}

.actions .summon.name {
  position: absolute;
  top: 14px;
  left: 95px;
  width: calc(100% - 145px);

  font-size: 17pt;
  font-weight: bold;
  text-align: center;
}

.actions .summon.box1 {
  position: absolute;
  top: 45px;
  left: 115px;
}

.actions .summon.box2 {
  position: absolute;
  top: 80px;
  left: 115px;
}

.actions .summon.box3 {
  position: absolute;
  top: 45px;
  left: 190px;
}

.actions .summon.box4 {
  position: absolute;
  top: 80px;
  left: 190px;
}

.actions .summon.box5 {
  position: absolute;
  top: 45px;
  left: 300px;
}

.action {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.action img {
  height: 1.1em;
  width: auto;
  padding: 0 2px;
}

.actions [data-slate-object=block] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-editor {
  pointer-events: all;
  position: absolute;
  padding: 2px;
  width: fit-content;
}

.action-main {
  font-family: Nyala;
}

.action > div {
  display: inline-block;
  text-align: center;
  /*display: inline-flex;
  justify-items: center;
  align-items: center;*/
}

.action.element img {
  height: 1.3em;
  width: auto;
}

.action.element > div {
  position: relative;
  cursor: pointer; 
}

.action.element img.consume {
  position: absolute;
  top: 0;
  left: 0;
}

.action.status img {
  height: 1.3em;
  width: auto;
}

.action.big-icon img {
  height: 2.0em;
  width: auto;
}

.action.xp {
  font-family: PirataOne;
}

.action.xp.big {
  font-size: 100%;
}

.action.xp.small {
  font-size: 66%;
}

.action.xp span {
  position: absolute;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.action.xp img {
  height: 2.0em;
}

[draggable=true] {
  cursor: move;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  overflow-y: overlay;
  min-height: fit-content;

  background: grey;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar > div {
  min-width: 30px;
  min-height: 30px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toolbar > div > img {
  width: 100%;
  height: 100%;
}

.toolbar > div > input {
   width: 25px;
   height: 25px;
}

.inline-action {
  margin: 0 2px;
  display: inline-flex;
}

@media print {
  .toolbar, .summon-toggle {
      display:none;
  }
}